.git__user-card-container {
  font-family: Helvetica;
  display: inline-block;
  border-radius:5px;
  border:1px solid grey;
  margin:3px;padding:5px;
  width:auto;
  box-shadow:1px 2px 4px #ccc;
  text-align:center;
  opacity:0;
  -webkit-transition:opacity 1s ease-in;
  transition:opacity 1s ease-in;
}

.git__user-card-container:hover {
  box-shadow:none;
}

.git__avatar {width:100%;}

.git__details-btn {
  background-color: #dedede;
  padding: 6px;
  margin-bottom: 8px;
}

.is-visible {opacity:1;}